/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px slateblue;
    padding:15px;
}

. {background-color: slateblue; }

th, td {
    border: 1px slateblue;
    padding:15px;
}



